<!DOCTYPE html>
<html lang="en">
<% - incluide('../partials/head.ejs') %>

 
<% - incluide('../partials/header.ejs') %>

<hr>

<body>  <!--CoMIENZA BODY-->

    <!--CAJA2 -->
 <h1> Detalle de Producto:</h1>
 <div class="contenedor">
         <div class="caja2">
 
                 <h3>Vestido verde marino <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="7%" viewBox="0 0 24 24" stroke="currentColor">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                 </svg></h3>
                 <img class="vestido" src="/images/vestidoverdemarino.jpg">
                      <div class="btncarga1"> 
                         <button class="btncarga" type="submit"> Agregar al carrito </button>
                         <button class="btncarga" type="reset"> Comprar ahora  </button>
                      </div>
         </div>
  
    <!--CAJA1--> 
     <div class="caja1"> 
            
       <p class="descstyle"> 
         Precio: $1700
       </p>
       <p class="descstyle"> 
         Talle: L
       </p>
       <p class="descstyle"> 
        Tela: Razo
       </p>
       <p class="descstyle"> 
         Pag치 en efectivo con un descuento del 10% <svg xmlns="http://www.w3.org/2000/svg" fill="none" width ="7%" viewBox="0 0 24 24" stroke="currentColor">
           <path stroke-linecap="round"  stroke-linejoin="round" stroke-width="2" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
         </svg>
       </p>
       <p class="descstyle"> 
         Devoluci칩n gratis: Tenes 30 dias desde que lo recib칤s.
         
       </p>
       
       <p class="descstyle"> 
         Vestido verde marino, elegante y comodo.
       </p>

     </div>
     
  <!--COMINEZA PRODUCTOS RELACIONADOS-->
       
  <h3 class="textref">Tal vez te interese...</h3>
     <div class="news-cards">
       
           <div class="productosref">
             <div>
               
           </div>
             <div class="styledesc">
                <a href=""><img class="imgref"src="/images/camperaverde.jpg"></a>
                        <ul>
                            <li>Campera verde escocesa</li>  
                            <li>Talle XS</li>
                            <li>Forrada por dentro</li>
                            <li>A la cintura estilo crop top</li>
                            <li>M치s estilo imposible 游꺛</li>
                            <a href="#"> Ver m치s...</a>
                        </ul> 
             </div>
             <div class="styledesc">
               <a href=""><img class="imgref" src="/images/chanel.jpg"></a>
                        <ul>
                           <li>Chanel multiusos</li>
                           <li>Talle L</li>
                           <li>Un aut칠ntico Chanel multiusos que no es Chanel, pero si multiusos.游녴 </li>
                           <a href="#">Ver m치s... </a>
                        </ul>
             </div>
             <div class="styledesc">
               <a href=""><img  class="imgref"src="/images/pantolincito.jpg"></a>
                        <ul>
                          <li>Short elastizado</li>
                          <li>Talle:40</li>
                          <li>Bueno, Bonito y Barato 游</li>
                          <li><a href="#"> Ver m치s... </a></li>
                        </ul>
             </div>
             <div class="styledesc">
               <a href=""><img class="imgref" src="/images/pantalonybotas.jpg"></a>
                        <ul>
                          <li>Combo disponible:</li>
                          <li>游 Pantal칩n Bershka Talle 40 tiro alto</li>
                          <li>游 Zapatos ultra c칩modos Talle 39</li>
                          <a href="#">Ver m치s... </a>
                         </ul>
             </div>
           </div>            
     </div>
</div>
</body>

                                        <hr>
<%- incluide ('../partials/footer.ejs') %>