<!DOCTYPE html>
<html lang="en">
  
<% - incluide('../partials/head.ejs') %>

 
<% - incluide('../partials/header.ejs') %>

<body><!--COMIENZA BODDY-->
    <div class="flex-container">
  <br>
            <div class="imgjean">
                <img class="jean" src="/images/VintageSoul_Marca_FONDO_JEANS.png" width="600px" height="600px">
            </div>
  <br>
            <div class="cita">
                <cite class="text">“Comprar ropa de segunda mano, además de ser económico, es ser consciente de nuestros consumos y nuestra huella en la tierra”</cite> 
            </div>
  <br>
  <h3 class="oferta">Galería</h3>
            <div class="slider"> <!-- COMIENZA CARRUSEL -->
          <ul>
              <li>
  <img src="/images/conjunto1.jpg" width="600px%" height="600px">
  </li>
              <li>
  <img src="/images/conjunto2.jpg" width="600px%" height="600px">
  </li>
              <li>
  <img src="/images/conjunto3.jpg" width="600px%" height="600px">
  </li>
              <li>
  <img src="/images/conjunto4.jpg" width="600px%" height="600px">
  </li>
          </ul>
            </div>
  <br>
  
      <div class="ncyBanner">
         
          <a href="#"><img class="cajaA" src="/images/NC.jpg" width="120%"></a>
         
          <a href="#"><img class= "cajaB"  src="/images/banner_33.gif" width="80%"></a>
      </div> 
     <br>
     <hr>
     <h3 class="oferta">Oferta -50%</h3>
        <div class="news-cards">
          
              <div class="productosref">
                
                <div>
                   <a href=""><img  src="/images/REMERANEGRA.jpg"></a>
                           <ul>
                               <li>Remera Negra</li>  
                               <li>Talle S</li>
                               <li>Elegante</li>
                               <a href="#"> Ver más...</a>
                           </ul> 
                </div>
                <div>
                  <a href=""><img  src="/images/pollera.jpg"></a>
                           <ul>
                              <li>Pollera escocesa</li>
                              <li>Talle único</li>
                              <li>Cuesta Blanca </li>
                              <a href="#">Ver más... </a>
                           </ul>
                </div>
                <div>
                  <a href=""><img src="/images/zapatosrojos.jpg"></a>
                           <ul>
                             <li>Zapato Rojo</li>
                             <li>Talle:37</li>
                             <li>Modelo chatita</li>
                             <li><a href="#"> Ver más... </a></li>
                           </ul>
                </div>
                <div>
                  <a href=""><img src="/images/polleranegra.jpg"></a>
                           <ul>
                             <li>Pollera negra</li>
                             <li> Talle: L</li>
                             <li> Super comoda</li>
                             <a href="#">Ver más... </a>
                            </ul>
                </div>
              </div>            
        </div>
   
  </div>  
  
  </body>
                                        <hr>
<%- incluide ('../partials/footer.ejs') %>