<footer>  <!--COMIENZA FOOTER-->
    <div class="container-footer">
        <div id="redes" class="div-footer">
            <p id="tf">Vintage Soul</p>
            <br>
            <ul id="list">
                <li><a href="">Contacto</a></li>
                <li> Teléfono: +591 56184335</li>
                <li> vintagesoul@gmail.com</li>    
            </ul>
            <div class="redes-icon">
                <img id="redes" src="/images/facebook.png" alt="facebook" width="8%">
                <img id="redes" src="/images/instagram.png" alt="instagram" width="8%">
              
             </div>  
             <div class="ubicacion"> 
              <p class="list">Ubicación </p>
              <p><a href="https://goo.gl/maps/V6AHgDzSDHZViahNA"><img class ="img" src="/images/map-of-Cochabamba.gif" width="25%" ></a></p>     
            </div>
        </div>
     
    <br>
                             <div class="Copy">
                                 <p>© Copyright 2020 – Todos los derechos reservados Vintage Soul. Buenos Aires| Argentina</p>
                             </div>  
  </div>        
  </div> 
  </footer>       
  </div>
  </html>