<footer>  <!--COMIENZA FOOTER-->
    <div class="container-footer">
        <div class="div-footer">
            <p id="tf">Vintage Soul</p>
            <br>
            <ul id="list">
                <li><a href="">Contacto</a></li>
                <li> Teléfono: +591 56184335</li>
                <li> vintagesoul@gmail.com</li>    
            </ul>
            <div class="redes-icon">
                <img id="redes" src="/images/facebook.png" alt="facebook" width="3%">
                <img id="redes" src="/images/instagram.png" alt="instagram" width="3%">
                <p class="list">Ubicación </p>
              <p><a href="https://goo.gl/maps/V6AHgDzSDHZViahNA"><img  width="20%" src="/images/map-of-Cochabamba.gif" ></a></p>     
              <p class="cpfooter">© Copyright 2020 – Todos los derechos reservados Vintage Soul. Buenos Aires| Argentina</p>
              
             </div>  
             
        </div>
     
    <br>
                            
                                
                      
  </div>        
  </div> 
  </footer>  
  </div>
  </html>
  </html>