<header id="header"> <!--COMIENZA HEADER-->
  
    <nav class="containerNavMain">
     
           <div class="logoNav">
             <img class="logoVS" src="/images/Vintagechicoblanco.png" alt="Vintage Soul">
           </div>
     
           <form class="containerSearch cs01 shadow1" action="#" method="get">
             <input type="search" class="searchIn" placeholder="Buscar">
             <button type="submit" class="btnSearch"><span class="material-icons searchIc">search</span></button>
           </form>
     
           <ul class="iconsNav">
             
             <li><a href=" "><img src="/images/loginlogo.png" width="80%"></li></a>
             <li><a href=" "><img src="/images/carrito.png" width="45%"></li></a>
           </ul>
    </nav>
     
     <nav class="containerNavMenu">
     
           <div class="menuIc">
             <span class="material-icons">menu</span>
           </div>
     
           <form class="containerSearch cs02 shadow1" action="#" method="get">
             <input type="search" class="searchIn" placeholder="Buscar">
             <button type="submit" class="btnSearch"><span class="material-icons searchIc">search</span></button>
           </form>
     
           <ul class="botonera-list">
             <li class="botonera-list-Item"><a href="#">Galeria</a> </li>
             <li class="botonera-list-Item"><a href="#">Ofertas</a></li>
             <li class="botonera-list-Item"><a href="#">Contacto</a></li>           
           </ul>
     </nav>
   
   </header>