<%-include('../partials/head')%>
 
  <%-include('../partials/header')%>


<hr>
<body class="bodylogin">  <!--CoMIENZA BODY-->
    <h1>¡ Bienvenido/a !</h1>
    <div class="contenedor">
     
     
        
    
        <!--CAJA2 -->
        <div class="caja2">
    
               <h3>Login</h3>
    
          
            <form action="/users/login" method="POST">
               <p class="stylecaja2"><label for="email"></label>
                  <input class="inputstyle" type="email" name="email" placeholder="Email">
               </p>
    
               <p class="stylecaja2"><label for="password"></label>
                  <input class="inputstyle" type="password" name="password" placeholder="Contraseña">
               </p>       
         
          
        
      
            <button class="btncarga" type="submit"> Ingresar </button>
            <button class="btncarga" type="reset"> Cancelar </button>

          </form>
         
        </div>
    
        
     </div>
    
    </div>
  </body>
  
                                          <hr>


                                        <hr>
 <%-include('../partials/footer')%>