<%-include('./partials/head')%>
 
<%-include('./partials/header')%>

<hr>

<body class="bodycdc">  <!--CoMIENZA BODY-->

    <!--CAJA2 -->
    <div class="productos1">
     <h1 class="h1cdc"> 
       Mi Carrito ♡ 
     </h1>
         <ul class="nav-menu">
           
            <li><a href="#"> Categorias</a></li>
            <li><a href="#"> Rango de Precios</a></li>
            <li><a href="#"> Talles</a></li>
            <li><a href="#"> Envios</a></li>
            
         </ul>  
       </div>
 <div class="contenedor">
         <div class="caja2cdc">
 
                 <h3 class="h3cdc">Vestido verde marino: 
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                 </svg></h3>
                 <img class="vestidocdc" src="/images/vestidoverdemarino.jpg">
                      <div class="nav-btn"> 
                    
                    
                         <button class="btncarga" type="reset"> Cancelar  </button>
                      </div>
         </div>
  
    <!--CAJA1--> 
     <div class="caja1cdc"> 
           
    
            
     <p class="text"> Precio:$1700</p>
     <label nombre="cantidad">Cantidad:</label>
     <input  class="stylecant"type="number" nombre="cantidad" placeholder="0">

<div class="nav-btn">
     <a href="#" class="btnCompra">Ir al Detalle del producto</a>
</div> 
                           <hr>
<div class="nav-btn"> 
      <a href="#"  class="btnCompra">Finalizar la compra</a>
</div>  

     </div>
     <br>
  <!--COMINEZA PRODUCTOS RELACIONADOS-->
       
  <h3 class="textref">Productos relacionados</h3>
     <div class="news-cards">
       
           <div class="productosref">
             <div>
               
           </div>
             <div img-new-cards>
                <a href=""><img class="img-new-cards2" src="/images/camperaverde.jpg"></a>
                        <ul>
                            <li>Campera verde escocesa</li>  
                            <li>Talle XS</li>
                            <li>Forrada por dentro</li>
                            <li>A la cintura estilo crop top</li>
                            <li>Más estilo imposible 🌹</li>
                            <a href="#"> Ver más...</a>
                        </ul> 
             </div>
             <div>
               <a href=""><img class="img-new-cards2" src="/images/chanel.jpg"></a>
                        <ul>
                           <li>Chanel multiusos</li>
                           <li>Talle L</li>
                           <li>Un auténtico Chanel multiusos que no es Chanel, pero si multiusos.👚 </li>
                           <a href="#">Ver más... </a>
                        </ul>
             </div>
             <div>
               <a href=""><img  class="img-new-cards2" src="/images/pantolincito.jpg"></a>
                        <ul>
                          <li>Short elastizado</li>
                          <li>Talle:40</li>
                          <li>Bueno, Bonito y Barato 🍒</li>
                          <li><a href="#"> Ver más... </a></li>
                        </ul>
             </div>
             <div>
               <a href=""><img class="img-new-cards2" src="/images/pantalonybotas.jpg"></a>
                        <ul>
                          <li>Combo disponible:</li>
                          <li>🐒 Pantalón Bershka Talle 40 tiro alto</li>
                          <li>🐒 Zapatos ultra cómodos Talle 39</li>
                          <a href="#">Ver más... </a>
                         </ul>
             </div>
           </div>            
     </div>
</div>
</body>

                                        <hr>
                                        <%-include('./partials/footer')%>