<%-include('./partials/head')%>
 
  <%-include('./partials/header')%>

<hr>

<body>  <!--CoMIENZA BODY-->
<h1>¡ Bienvenido Vendedor/a !</h1>
<div class="contenedor">
 
 <!--CAJA1--> 
    <div class="caja1fdp"> 
      
      <h3>Datos del Producto</h3>
      
      <form action="formulariodeproducto" method="POST" enctype="multipart/form-data">

        <label for="id">ID:</label>
        <input type="text" name="id">
      <p> 
        <label for="nombre"></label>
        <input class="inputstyle" type="text" name="nombre" id="nombre" placeholder="Nombre del producto">
      </p>

      <p> 
        <label for="categoria"></label>
        <input class="inputstyle" type="text" name="categoria" id="categoria" placeholder="Categoria">
      </p>
      <p> 
        <label for="number"></label>
        <input class="inputstyle" type="number" name="number" id="number" placeholder="Precio" required>
      </p>
      <p> 
        <label for="number"></label>
        <input class="inputstyle" type="number" name="number" id="number" placeholder="Cantidad">
      </p>
      <p> 
        <label for="talle"></label>
        <input class="inputstyle" type="text" name="talle" id="talle" placeholder="Talle" required>
      </p>
  

           <h3>Detalles</h3>
           
           <p class="stylecaja2"><label for ="Envio gratis">Envio gratis</label></p>
           <p class="stylecaja2"><input type="checkbox" name="envioGratis" value="Envio gratis" required></p>
      
           <p class="stylecaja2"><label for ="oferta">Oferta</label></p>
           <p class="stylecaja2"><input type="checkbox" name="oferta" value="Oferta"></p>
      
           <p class="stylecaja2"><label for ="Promoción">Promoción</label></p>
           <p class="stylecaja2"><input  type="checkbox" name="promocion" value="Promoción"></p>
        
        
          
      <p class="stylecaja2">Descripciones del producto:</p>

      
      <textarea name="mensaje"  placeholder="Escribe la descripción del producto"></textarea>
      <form action="../../form-result.php" method="post" enctype="multipart/form-data" target="_blank">  

        <p class="stylecaja2">Sube una imagen:</p>
        <p><input class="subirarch" type="file[]" id="id" name="imgsubido" multiple accept="image/*">      
        </p>

         <input type= "submit" class="btncarga" value=" Cargar Producto">
      <input type="reset" class="btncarga" value="Cancelar"> 
      
      </form>
       </div>

</div>


</body>

                                        <hr>
  <%-include('./partials/footer')%>