<%-include('./partials/head')%>
 
  <%-include('./partials/header')%>
<hr>
<body class="bodylogin">  <!--CoMIENZA BODY-->
    <h1>¡ Bienvenido/a !</h1>
    <div class="contenedor">
     
     <!--CAJA1--> 
        <div class="caja1"> 
          
          <h3>Register </h3>
          
          <form action="/usuarios/__/actualizar?_method=PUT" method="POST">
         
            <label for="nombre"></label>
            <input class="inputstyle" type="text" name="nombre" id="nombre" placeholder="Nombre y apellido">
          
            <label for="email"></label>
            <input class="inputstyle" type="email" name="email" id="email" placeholder="Email">
         
            <label for="telefono"></label>
            <input  class="inputstyle" type="number" name="telefono" placeholder="Telefono">
          
            <label for="edad"></label>
            
            <input type="date" id="start" name="edad" class="inputstyle"
         value="2020-10-22"
         min="1940-01-01" max="2020-12-31">
         
          <br>
            <label class="form" for="">Comprador</label>
            <input type="radio" name="Comprador/Vendedor"> 
            <label class="form" for="">Vendedor</label> 
            <input type="radio" name="Comprador/Vendedor">
          
          <br>
         
            <p class="form">¿Quieres recibir regularmente su historial de compra?</p>
           <label class="form" for="">Si</label>
            <input  type="radio" name="Perfil del usuario"> 
            <label class="form" for="">No</label> 
            <input  type="radio" name="Perfil del usuario">
            
         
            <br>
       
              <button type="submit"> Registrarme </button>
              
                <button type="delete"> Borrar </button>
          
              </form>
          </div>
     
          
        </div>
        
    
    </div>
  </body>

                                        <hr>

                                        <%-include('./partials/footer')%>