*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #DFDBE5;
background-image: url('/images/vintageguantes.jpg');}
.contenedor{
    width: 80%;
    height: 60%;
    display: flex;
    margin: 40px auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 5px 0;
    margin: 0 0;
}

.h2ul{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
color:#b5838d; 
font-size: 30px; 
font-weight: 400; 
text-align: center; 
background: white; 
overflow: hidden; 
padding: 20px; 
text-decoration-line: underline;


}

.caja1fdp{
    border:solid 2px grey;
    padding: 10px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    height: 500px;
    width: 480px;
    filter: drop-shadow(5px 5px 10px #444);
   

}

.caja1list{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #b5838d; 
    font-size: 20px; 
    font-weight: 400; 
    text-align: center; 
    background: white; 
    
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #b5838d;
    display: flex;
    justify-content: space-around;


}
.caja2list{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #b5838d; 
    font-size: 18px;  
    background: white; 
    margin: 0 0 25px;
    border: 2px solid #b5838d;
   display: flex;
    width: 100%;
    margin: auto;
    align-content: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}



.textlist{
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
color:#b5838d; 
font-size: 18px; 
font-weight: 400; 
background: white; 
overflow: hidden; 
padding: auto;
align-items:center; 
justify-content: space-around;
flex-direction: column;
width: 30px;

}

.caja2{
    border:solid 2px grey;
    padding: 10px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    height: 400px;
	width: 480px;
    padding: 1em;
    font-size: 18px;   
    filter: drop-shadow(5px 5px 10px #444);

}

.stylecaja2{
    font-size: 18px;
    font-family: 'Antic Slab', serif;  
  
}
.btncarga1{
    margin: 20px;
    filter: drop-shadow(5px 5px 5px #444);
   
}


.btncarga{
    
    align-items: center;
    padding: 10px;
    flex-direction: row;
   font-family: 'Antic Slab', serif;  
   font-weight: bolder;
    margin: 10 0;
    filter: drop-shadow(5px 5px 5px #444);

}
.btncargaul{
    
    align-items: center;
    padding: 10px;
    flex-direction: row;
   font-family: 'sacramento';  
   font-weight: bolder;
    margin: 10 0;
    filter: drop-shadow(5px 5px 5px #444);

}

.btncarga:hover{
    background-color: #D4E09B;
    cursor:pointer;
}

.inputstyle:hover{
    cursor: pointer;
}

h3{
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    
    
}

.inputstyle{
    border: solid 1px grey;
    border-radius: 15px;
    width: 75%;
    padding: 1%;
    margin: 1%;
}

/* RESPONSIVE 320PX*/

@media(max-width: 320px){
    .caja2{
        width: 100%;
        margin: 10 10;
        font-size: 18px;
    }
}

@media (max-width: 320px){
    footer{
        display: block;
        
    }
}

@media(max-width: 320px){
    .caja1{
        height: 350px;
        margin: 10px;
        
    }
}

@media(max-width: 320px){
    .stylecaja2{
       font-size: 18px;
    }
}

@media(max-width: 320px){
    .contenedor{
       width: 100%;
    }
}



/* RESPONSIVE 375PX*/
@media(max-width: 375px){
    .contenedor{
       width: 100%;
    }
}


@media(max-width: 375px){
    .caja2{
        width: 100%;
        margin: 10 10;
        font-size: 18px;
    }
}

@media(max-width: 375px){
    .caja1{
        height: 350px;
        margin: 5% 0;
    }
}

/* RESPONSIVE 425PX*/

@media(max-width: 425px){
    .caja2{
        width: 100%;
        margin: 10 10;
        font-size: 18px;
    }
}

@media(max-width: 425px){
    .caja1{
        height: 350px;
        margin: 5% 0;
    }
}

/* RESPONSIVE 768*/

@media(max-width: 768px){
    .caja1{
        height: 350px;
        margin: 5% 0;
    }
}

/* RESPONSIVE 1024*/

@media(max-width: 1024px){
    .caja2{
        width: 80%;
        margin: 10 10;
        font-size: 18px;
    }
}

@media(max-width: 1024px){
    .caja1{
        height: 350px;
        margin: 5% 0;
        width: 80%;
    }
}